{% extends "bootstrap_responsive.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% block head %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFkQBibtdyVnZ_DkIxmXCe_pOplaL0Hck&sensor=false"></script>
{{ super() }}
{% block style %}
{{ super() }}
<link href="/static/css/main.css" rel="stylesheet"></link>
{% endblock %}
{% endblock %}
{% block body_content %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">MyCouch</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            {% if logged_user %}
            <p class="navbar-text pull-right">Welcome {{ logged_user.username }}!</p>
            {% else %}
            <!-- User form -->
            <form class="navbar-form pull-right" id="login_form" onsubmit="return false;">
              <input class="span2" type="text" name="username" placeholder="Username">
              <input class="span2" type="password" name="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
            <!-- /User form -->
            {% endif %}
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">

    {% if logged_user %}
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">You</li>
              <li><a href="/myprofile">Your profile</a></li>
              <li><a href="/myactivities">Your activities</a></li>
              <li><a href="/myfriends">Your friendships</a></li>
              <li><a href="/logout">Log out</a></li>
            </ul>
          </div><!--/well-->
        </div><!--/span-->
    {% endif %}
        <div class="span9">

            <div class="hero-unit">
            {% block hero_unit %}
            {% endblock %}
            </div>
        </div><!--/span-->
    </div><!--/row-->
    {% block body_container %}

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
      {% endblock %}

      <hr>

      <footer>
        <p>&copy; Angelo Romano 2013</p>
      </footer>

    </div> <!-- /container -->
    {% block bootstrap_js_bottom %}
    {{ super() }}
    <script src="/static/js/json2.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/backbone.js"></script>
    <script src="/static/js/models.js"></script>
    <script src="/static/js/views.js"></script>
    <script src="/static/js/gmaps.js"></script>
    <script type="text/javascript">
    $(function() {
        //gmapLoadScript();
        gmapInitialize();
        var auth_view = new FormView({ el: $("#login_form"), postURL: '/login'});
        {% block js_onload %}
        {% endblock %}
    });
    </script>
    {% endblock %}
{% endblock %}
