{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% block hero_unit %}
<div class="container">
{% if not user %}
User not found!
{% else %}
<div>
<h3>User</h3>

<p>{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</p>
<p>From <a href="/cities/{{ user.city.id }}">{{ user.city.name }}, {{ user.country }}</a></p>
</div>
{% endif %}

<div>
<h3>References</h3>
{% if references %}
{% for reference in references %}
<p>{{ reference }}</p>
{% endfor %}
{% else %}
<p>No references!</p>
{% endif %}
</div>
</div>
{% endblock %}
